.comments {
  background-color: @white;
  padding-top: 300px;
}

.comments__list {
  list-style: none;
  padding: 0;
}

.comments__item {
  display: none;
}

.comments__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.comments__title--bottom {
  display: none;
}

.comments__subtitle {
  display: none;
}

@media (min-width: @tablet-width) {
  .comments {
    padding-top: 0;
  }

  .comments__title--bottom {
    display: block;
  }

  .comments__title--top {
    display: none;
  }

  .comments__subtitle {
    display: block;
  }
}

.comments__text {
  line-height: 30px;
}
