.form__fieldset {
  border: none;
}

.form__label {
  color: @link-color;
  text-transform: uppercase;
  line-height: 30px;
}

.form__input::-webkit-input-placeholder {
  color: @basic-font;
  font-size: 18px;
  line-height: 30px;
}

.form__input::-moz-placeholder {
  color: @basic-font;
  font-size: 18px;
  line-height: 30px;
}

.form__fieldset--wrapper {
  background-color: @basic-grey-wrapper;
}

.form__legend {
  color: @link-color;
  line-height: 18px;
  text-transform: uppercase;
}

.form__textarea::-webkit-input-placeholder {
  color: @basic-font;
  font-size: 18px;
  line-height: 30px;
}

.form__textarea::-moz-placeholder {
  color: @basic-font;
  font-size: 18px;
  line-height: 30px;
}

.form__button {
  background-color: @form-button-color;
  border: 2px solid @form-button-color;
  border-radius: 1px;
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__remark {
  line-height: 30px;
  text-transform: uppercase;
}

.form__remark-symbol {
  color: @link-color;
}
