.header-content {
  background-color: @basic-dark-wrapper;
}

.header-content__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.header-content__link-appstore {
  color: @white;
  border: 3px solid @white;
}
