.page-header {
  background-color: @basic-dark-wrapper;
  background-size: cover;
  color: @white;
  background-repeat: no-repeat;
  height: 700px;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.page-header__logo img {
  margin-top: 22px;
}

@media (min-width: @tablet-width) {
  .page-header__logo img {
    margin-top: 27px;
    margin-bottom: 43px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo img {
    margin-top: 44px;
    margin-bottom: 45px;
  }
}
