.page-header {
  background-image: url("../img/back-mobile-index.jpg");
  color: @white;
  background-repeat: no-repeat;
  height: 700px;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/back-tablet.jpg");
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/back-desktop.jpg");
  }
}
