.research__link {
  color: @link-color;
  text-decoration: underline;
}

.research {
  display: none;
  position: relative;
}

@media (min-width: @tablet-width) {
  .research {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    position: relative;
  }

  .research::before {
    grid-column-start: 1;
    grid-column-end: 2;
    position: absolute;
    content: "24";
    background-image: url("../img/img-clock.png");
    background-repeat: no-repeat;
    background-size: 238px 276px;
    background-position: center;
  }

  .research__wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (min-width: @desktop-width) {
  .research {
    grid-template-columns: repeat(3, 1fr);
  }

  .research__wrapper {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
